.color__options {
    position: fixed;
    z-index: 2;
    top: 2rem;
    right: 2.2rem;
    gap: 0.7rem;
    display: flex;
}

.color__option {
    position: relative;
    width: 1.7rem;
    height: 1.7rem;
    border: 3.5px solid var(--color-extrawhite);
    border-radius: 50%;
    background: var(--color-extrawhite);
}

.color__option:hover {
    cursor: pointer;
}

.color__option::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 50%;
    transition: var(--transition);
}

.color__option:hover::before {
    background: #39393945;
}

.color__option#default {
    background: linear-gradient(135deg, var(--default-bg) 50%, var(--default-primary) 50%);
}

.color__option#purple {
    background: linear-gradient(135deg, var(--purple-bg) 50%, var(--purple-primary) 50%);
}

.color__option#green {
    background: linear-gradient(135deg, var(--green-bg) 50%, var(--green-primary) 50%);
}

.color__option#bistre {
    background: linear-gradient(135deg, var(--bistre-bg) 50%, var(--bistre-primary) 50%);
}

@media screen and (min-width: 1601px) {
    .color__options {
        top: 2vw;
        right: 2vw;
        gap: 0.7vw;
    }
    
    .color__option {
        width: 1.7vw;
        height: 1.7vw;
        border: 0.219vw solid var(--color-extrawhite);

    }
}

@media screen and (max-width: 570px) {
    .color__options {
        flex-direction: column;
        overflow-y: hidden;
        display: block;
        height: 2.7rem;
        transition: 500ms ease;
    }

    .color__option {
        margin: 0.5rem 0;
    }

    .color__options:hover {
        height: 10.8rem;
    }
}

@media screen and (max-width: 425px) {

}